<form id="register-form" class="register" action="/register" method="POST">
  <input class="input input-email" name="email" type="email" placeholder="Email">
  <input class="input input-username" name="username" type="text" placeholder="Username">
  <input class="input" name="password" type="password" placeholder="Password">
  <input class="input" name="verifyPassword" type="password" placeholder="Confirm Your Password">
  <button class="signupbtn">Sign up</button>
</form>

<div id="error-message-container"></div>

<script src="/js/error.js"></script>